@use "base";

.navbar {
    .navbar-container{
        @extend %frame_1;
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px 60px;
        height: 110px;
        a{
            font-size: base.$fontsize_20;
            text-decoration:none;
            color:#000;
            font-weight: 500;
        }
        .navbar-menu{
            list-style: none;
            display: flex;
            align-items:center;
            gap: 48px;
            .connect-button{
                @extend %button;
            }
        }
    }
    @media(max-width:550px){
        .navbar-container {
            > a {
                display:none;
            }
            .navbar-menu{
                width:100%;
                gap: 15px;
                justify-content:space-between;
            }
        }
    }
}