<div id="footer-left">
    <a class="sitename" href="index.html"><img src="../images/Logo.png" alt="Logo of Next Desk" width="130px" height="130px"></a>
    <ul class="social-media">
        <li><a href="https://www.linkedin.com/in/yourprofile" target="_blank">LinkedIn |</a></li>
        <li><a href="/" target="_blank">GitHub</a></li>
    </ul>
</div>
<div id="footer-right">
    <div class="quicklinks">
        <h3> Quicklinks</h3>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="locations.html">Locations</a></li>
            <li><a href="criteria.html">Criteria</a></li>
        </ul> 
    </div>
    <div class="contact">
        <h3>About me</h3>
        <ul>
            <li><a href="about#cv.html">CV</a></li>
            <li><a href="projects.html">Projects</a></li>
            <li><a href="contact.html">Contact details</a></li>
        </ul>   
    </div>
</div>


