
<p>&copy; 2025 NextDesk. All rights reserved.</p>
<ul class="social-media">
    <li><a href="https://www.linkedin.com/in/yourprofile" target="_blank">LinkedIn</a></li>
    <li><a href="/" target="_blank">GitHub</a></li>
</ul>
<div class="quicklinks">
    <h3> Quicklinks</h3>
    <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="locations.html">Locations</a></li>
        <li><a href="criteria.html">Criteria</a></li>
    </ul> 
</div>
<div class="contact">
    <h3>About me</h3>
    <ul>
        <li><a href="about#cv.html">CV</a></li>
        <li><a href="projects.html">Projects</a></li>
        <li><a href="contact.html">Contact details</a></li>
    </ul>   
</div>

