
    <nav class="navbar" aria-label="Main Navigation">
        <div class="navbar-container">
            <a href="index.html">NextDesk</a>
            <ul class="navbar-menu">
                <li class="navbar-item"><a href="locations.html" aria-label="Go to Page Locations">Locations</a></li>
                <li class="navbar-item"><a href="criteria.html" aria-label="Go to Page Criteria">Criteria</a></li>
                <li class="navbar-item"><a href="about.html" aria-label="Go to Page About me">About me</a></li>
                <li class="navbar-item"><a class="connect-button" href="contact.html" aria-label="Go to contact page">Let's connect</a></li>
            </ul>
        </div>
    </nav>

